@font-face {
    font-family: 'Bebas Neue', 'Roboto Condensed';
    src: url('BebasNeue-Regular.ttf');
    src: url('RobotoCondensed-Regular.ttf');
    font-display: swap;
}

html,
body {
    font-size: 14pt;
    height: 100%;
    line-height: 1.8;
    background-color: #282C34;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

footer {
    height: 3%;
    background-color: #202124;
    text-align: center;
    font-size: small;
}

/* This css is solely for the banner and its nav banner*/
/* Set the font size of the h1 element to be responsive using viewport units */
h1 {
    font-size: 10em;
    font-family: 'Bebas Neue', cursive;
}

h2 {
    font-size: 24pt;
    font-family: 'Bebas Neue', cursive;
    color: gold;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-align: center;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
}

/* Set the width and height of elements with the IDs 'code', 'about', and 'contact' to be responsive using percentages and viewport height units*/
#code,
#about,
#contact {
    width: 33.33%;
    height: 15vh;
    border: 1vh;
}

/* Set the height of elements with the class 'banner' to be responsive using viewport height units, and add a background image, center it, and add text alignment and scrolling if necessary */
.banner {
    width: 100%;
    height: 40vh;
    background-image: url(assets/banner.jpg);
    background-size: cover;
    text-align: center;
    overflow-y: auto;
}

/* Set the background image of elements with the class 'hero-image', position and center it to be responsive */
.hero-image {
    background-image: url("assets/banner.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

/* Set the text alignment and position of elements with the class 'bannertext' to be centered and slightly offset from the top */
.bannertext {
    text-align: center;
    position: absolute;
    top: 5%;
    left: 50%;
    height: 300px;
    transform: translate(-50%, -50%);
    color: white;
}

/* Set the font size and font family of elements with the class 'container' to be responsive using viewport units */
.containerBanner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 5vw;
    font-family: 'Bebas Neue', cursive;
    color: white;
    border-collapse: collapse;
}

/* Set the flex properties, height, background color, and text alignment of elements with the class 'square' to be responsive, and add padding, box sizing, and a cursor pointer */
.square {
    flex: 1 0 auto;
    height: 100%;
    background-color: #202124;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2vw;
    box-sizing: border-box;
    cursor: pointer;
}

/* this css is here to shape and work containers for the body*/
/* shapes the first container in the body*/
.containerText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20% 0 20%;
    height: auto;
}

#email {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    float: inline-start;
    margin: 15% 0 20% 0;
}

#github {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 15% 0 20% 0;
}

#linkedin {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    float: inline-end;
    margin: 15% 0 20% 0;
}